{% sw_extends 'administration/index.html.twig' %}

{% block administration_scripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/virtuaI18nHungarian/administration/js/virtua-i18n-hungarian.js') }}"></script>
{% endblock %}
